{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'helpwild/css/quiz.css' %}"/>

{% endblock style %}

{% block main %}
<h3>Post</h3>
<div class="container">
    <form action="{% url 'helpwild:editcomment' comment_id %}" method="POST">
        <div>
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <a href="{% url 'helpwild:quiz' %}" role="button" class="btn btn-warning">Cancelar</a>
        <input type="submit" value="Gravar" class="btn btn-success">
    </form>
</div>
{% endblock %}