<!-- home.html -->

{% extends 'helpwild/layout.html' %}

{% block main %}

<body class="homepage is-preload">
    <div id="page-wrapper">

        <!-- Banner -->
        <section id="banner">
            <header>
                <h2>We don’t need to reinvent the planet. We need to <strong>"help:wild"</strong> for all
                    wildkind.</strong>.</h2>
                <p>
                    <strong>Help</strong>:wild and restores the wild. We have a singular and powerful focus:
                    the wild as the most effective solution to the interconnected climate, biodiversity and
                    pandemic crises.
                    Founded by a group of renowned conservation scientists Help:wild is a force multiplier that brings
                    together Indigenous peoples,
                    local communities, influential leaders, nongovernmental organizations, governments,
                    companies and the public to protect and rewild at the scale and speed we need.
                    Our vital work has protected and conserved more than 180 million acres benefitting
                    more than 16,000 species in the world’s most irreplaceable places for
                    biodiversity.
                </p>
            </header>
        </section>

        <!-- Carousel -->
        <section class="carousel">
            <div class="reel">
                <article>
                    <a href="#" class="image featured"><img src="/static/helpwild/images/Endangered1.jfif" alt=""
                            style="width: 360px; height: 233.75px;" /></a>
                    <header>
                        <h3><strong>African forest elephant</strong></h3>
                    </header>
                    <p>African forest elephants are the cousin of the African savanna elephant.</p>
                </article>

                <article>
                    <a href="#" class="image featured"><img src="/static/helpwild/images/Endangered2.jfif" alt=""
                            style="width: 360px; height: 233.75px;" /></a>
                    <header>
                        <h3><strong>Amur Leopard</strong></h3>
                    </header>
                    <p>Amur Leopard are very solitary, nimble-footed and strong.</p>
                </article>

                <article>
                    <a href="#" class="image featured"><img src="/static/helpwild/images/Endangered3.jpg" alt=""
                            style="width: 360px; height: 233.75px;" /></a>
                    <header>
                        <h3><strong>Black Rhino </strong></h3>
                    </header>
                    <p>Black rhinos are the smaller of the two African rhino species.</p>
                </article>

                <article>
                    <a href="#" class="image featured"><img src="/static/helpwild/images/Endangered4.jpg" alt=""
                            style="width: 360px; height: 233.75px;" /></a>
                    <header>
                        <h3><strong>Bornean Orangutan </strong></h3>
                    </header>
                    <p>Bornean orangutan have declined by more than 50% over the past 60 years</p>
                </article>

                <article>
                    <a href="#" class="image featured"><img src="/static/helpwild/images/Endangered5.jpg" alt=""
                            style="width: 360px; height: 233.75px;" /></a>
                    <header>
                        <h3><strong>Vaquita</strong></h3>
                    </header>
                    <p>Vaquita, the world's rarest marine mammal, is on the edge of extinction.</p>
                </article>

                <article>
                    <a href="#" class="image featured"><img src="/static/helpwild/images/Endangered6.jfif" alt=""
                            style="width: 360px; height: 233.75px;" /></a>
                    <header>
                        <h3><strong>Sunda Tiger </strong></h3>
                    </header>
                    <p>Sunda tigers are distinguished by heavy black stripes.</p>
                </article>

                <article>
                    <a href=" #" class="image featured"><img src="/static/helpwild/images/Endangered7.jfif" alt=""
                            style="width: 360px; height: 233.75px;" /></a>
                    <header>
                        <h3><strong>Saola </strong></h3>
                    </header>
                    <p>The saola was discovered in May 1992 by the Ministry of Forestry and WWF.</p>
                </article>

                <article>
                    <a href="#" class="image featured"><img src="/static/helpwild/images/Endangered8.jfif" alt=""
                            style="width: 360px; height: 233.75px;" /></a>
                    <header>
                        <h3><strong>Hawksbill Turtle </strong></h3>
                    </header>
                    <p>Hawksbills are named for their narrow, pointed beak.</p>
                </article>

                <article>
                    <a href="#" class="image featured"><img src="/static/helpwild/images/Endangered8.jpg" alt=""
                            style="width: 360px; height: 233.75px;" /></a>
                    <header>
                        <h3><strong>Cross River Gorilla </strong></h3>
                    </header>
                    <p>Cross River gorillas live in a region populated by many humans.</p>
                </article>

                <article>
                    <a href="#" class="image featured"><img src="/static/helpwild/images/Endangered10.jfif" alt=""
                            style="width: 360px; height: 233.75px;" /></a>
                    <header>
                        <h3><strong>Sumatran Elephant </strong></h3>
                    </header>
                    <p>Sumatran elephants feed on a variety of plants.</p>
                </article>

            </div>
        </section>
        <p></p>
        <!-- Main -->
        <div class="wrapper style1">


            <article id="main" class="container special">
                <header>
                    <h2><a href="#">Our Impact</a></h2>
                    <p>
                        Discover some of our projects, and the partners and people we work with, around the world.
                    </p>
                </header>
                <div id="myWrapper">
                    <!-- <a href="#" class="image featured"><img src="images/map.PNG" alt="" /></a> -->

                    <!--============================MAP Our Impact======================================-->
                    <div class="container-map">
                        <input type="checkbox" class="input" id="input1" name="inputs">
                        <input type="checkbox" class="input" id="input2" name="inputs">
                        <input type="checkbox" class="input" id="input3" name="inputs">
                        <input type="checkbox" class="input" id="input4" name="inputs">
                        <input type="checkbox" class="input" id="input5" name="inputs">

                        <label for="input1">
                            <div id="b1" class="button-map "><img src="/static/helpwild/images/map_animal1.jpg"
                                    class="bsnGVN" isloaded="1"> </div>
                        </label>
                        <label for="input2">
                            <div id="b2" class="button-map"><img src="/static/helpwild/images/map_animal4.jpg"
                                    class="bsnGVN" isloaded="1"> </div>
                        </label>
                        <label for="input3">
                            <div id="b3" class="button-map"><img src="/static/helpwild/images/map_animal2.jpg"
                                    class="bsnGVN" isloaded="1"></div>
                        </label>
                        <label for="input4">
                            <div id="b4" class="button-map"><img src="/static/helpwild/images/map_animal3.jpg"
                                    class="bsnGVN" isloaded="1"></div>
                        </label>
                        <label for="input5">
                            <div id="b5" class="button-map"><img src="/static/helpwild/images/map_animal4.jpg"
                                    class="bsnGVN" isloaded="1"></div>
                        </label>
                        <div id="content1" class="content-map">
                            <div style="text-align: right;">
                                <label for="input1" class="cross">X</label>
                            </div>
                            <strong>
                                <h1 style="color: rgb(10, 190, 10);">Virunga: Africa’s Oldest National Park</h1>
                            </strong>
                            <p style="color: white; font-size: 17px;">Virunga National Park is one of the most special
                                places on the planet.
                                It is Africa’s oldest and most biologically diverse protected area. It's home to more
                                than 2,000 plant species,
                                706 bird species, and 218 mammal species.</p>
                            <a href="#" class="cta">Find out more</a>
                        </div>
                        <div id="content2" class="content-map">
                            <div style="text-align: right;">
                                <label for="input2" class="cross">X</label>
                            </div>
                            <h1 style="color: rgb(10, 190, 10);">Protecting a paradise of biodiversity in Nicaragua</h1>
                            <p style="color: white; font-size: 17px;">The Indio Maíz Biological Reserve, a protected
                                area of more than 770 square miles of lowland tropical forest and swamps,
                                provides critical habitat for rare and threatened species including Baird’s Tapirs,
                                Jaguars, Great Green Macaws, and wild almond trees.
                            </p>
                            <a href="#" class="cta">Find out more</a>
                        </div>
                        <div id="content3" class="content-map">
                            <div style="text-align: right;">
                                <label for="input3" class="cross">X</label>
                            </div>
                            <h1 style="color: rgb(10, 190, 10);">Galápagos</h1>
                            <p style="color: white; font-size: 17px;">Anatural laboratory of evolution, the Galápagos
                                Islands lie 563 miles west of the coast of Ecuador and are volcanic in nature.
                                The archipelago comprises 18 main islands, 3 smaller islands, and 107 rocks and islets.
                                It is the most biologically intact archipelago worldwide,
                                with more than 95% of its original species still present. </p>
                            <a href="#" class="cta">Find out more</a>
                        </div>
                        <div id="content4" class="content-map">
                            <div style="text-align: right;">
                                <label for="input4" class="cross">X</label>
                            </div>
                            <h1 style="color: rgb(10, 190, 10);">Protecting Leuser to Safeguard Lives and Livelihoods
                            </h1>
                            <p style="color: white; font-size: 17px;">The Leuser Ecosystem is 6.5 million acres of
                                rainforest on the Indonesian island of Sumatra,
                                and the last place on Earth where Sumatran Orangutans, Rhinos, Asian Elephants and
                                Tigers still live together in the wild.</p>
                            <a href="#" class="cta">Find out more</a>
                        </div>
                        <div id="content5" class="content-map">
                            <div style="text-align: right;">
                                <label for="input5" class="cross">X</label>
                            </div>
                            <h1 style="color: rgb(10, 190, 10);">The Heart of Mindoro Island</h1>
                            <p style="color: white; font-size: 17px;">Mounts Iglit-Baco Natural Park, first established
                                as a protected area in 1970, is in the heart of Mindoro Island in the Philippines.
                                The remote and mountainous park is part of the Philippines Biodiversity Hotspot and
                                forms part of several Key Biodiversity Areas—places that are critical
                                for the survival of unique plants, animals and fungi. </p>
                            <a href="#" class="cta">Find out more</a>
                        </div>
                    </div>
                </div>
                <footer>
                    <a href="{% url 'helpwild:quiz' %}" class="button circled scrolly">Play our Quiz</a>
                </footer>
            </article>

        </div>
        <!-- Features -->
        <div class="wrapper style1">
            <section id="features" class="container special">
                <header>
                    <h2><strong>UPDATES FROM AROUND THE GLOBE</strong> </h2>
                </header>
                <div class="site__wrapper">
                    <div class="grid">
                        <div class="card">
                            <div class="card__image">
                                <img style="width: 350px; height: 242px;" src="{{  img.33 }}">
                                <div class="card__overlay card__overlay--indigo">
                                    <div class="card__overlay-content">
                                       
                                        <a href="#0" class="card__title">{{home_news_header.6}}</a>
                                        <ul class="card__meta card__meta--last">
                                            <li><a href="#0"><i class="fa fa-user"></i> NBC NEWS</a></li>
                                            <li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid">
                        <div class="card">
                            <div class="card__image">
                                <img style="width: 350px; height: 242px;" src="{{  img.35 }}">

                                <div class="card__overlay card__overlay--blue">
                                    <div class="card__overlay-content">
                                        <a href="#0" class="card__title">{{home_news_header.7}}</a>

                                        <ul class="card__meta card__meta--last">
                                            <li><a href="#0"><i class="fa fa-user"></i>NBC NEWS</a></li>
                                            <li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid">
                        <div class="card">
                            <div class="card__image">
                                <img style="width: 350px; height: 242px;" src="{{  img.37 }}">
                                <div class="card__overlay card__overlay--indigo">
                                    <div class="card__overlay-content">

                                        <a href="#0" class="card__title">{{home_news_header.8}}</a>

                                        <ul class="card__meta card__meta--last">
                                            <li><a href="#0"><i class="fa fa-user"></i>NBC NEWS</a></li>
                                            <li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid">
                        <div class="card">
                            <div class="card__image">
                                <img style="width: 350px; height: 242px;" src="{{  img.39 }}">

                                <div class="card__overlay card__overlay--indigo">
                                    <div class="card__overlay-content">

                                        <a href="#0" class="card__title">{{home_news_header.9}}</a>

                                        <ul class="card__meta card__meta--last">
                                            <li><a href="#0"><i class="fa fa-user"></i>NBC NEWS</a></li>
                                            <li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid">
                        <div class="card">
                            <div class="card__image">
                                <img style="width: 350px; height: 242px;" src="{{  img.41 }}">

                                <div class="card__overlay card__overlay--blue">
                                    <div class="card__overlay-content">

                                        <a href="#0" class="card__title">{{home_news_header.10}}</a>

                                        <ul class="card__meta card__meta--last">
                                            <li><a href="#0"><i class="fa fa-user"></i>NBC NEWS</a></li>
                                            <li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="card">
                            <div class="card__image">
                                <img style="width: 350px; height: 242px;" src="{{  img.31 }}">
                                <div class="card__overlay card__overlay--blue">
                                    <div class="card__overlay-content">

                                        <a href="#0" class="card__title">{{home_news_header.5}}</a>

                                        <ul class="card__meta card__meta--last">
                                            <li><a href="#0"><i class="fa fa-user"></i>NBC NEWS</a></li>
                                            <li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- @end site__wrapper -->
            </section>
        </div>
    </div>
</body>

<script src="static/helpwild/js/jquery.min.js"></script>
<script src="static/helpwild/js/jquery.scrolly.min.js"></script>
<script src="static/helpwild/js/jquery.scrollex.min.js"></script>
<script src="static/helpwild/js/browser.min.js"></script>
<script src="static/helpwild/js/breakpoints.min.js"></script>
<script src="static/helpwild/js/util.js"></script>
<script src="static/helpwild/js/main.js"></script>
<script src="static/helpwild/js/map.js"></script>
<script src="https://cdn.rawgit.com/davidjbradshaw/image-map-resizer/master/js/imageMapResizer.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}